<!DOCTYPE html>
<html lang="pt-br">
    <%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <h1> Testando estilo do bootstrap</h1>
</body>
<%- include('./partials/script.ejs'); %>
</html>