<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <h2> Welcome to the main page</h2>
</body>
<%- include('./partials/script.ejs'); %>
</html>